.card__container {
    width: 180px; /* smaller so 5 fit in a row */
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 10px;
    color: black;
    text-decoration: none;
    position: relative;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    transition: transform 0.2s;
}

.card__container:hover {
    transform: translateY(-5px); /* slight hover effect */
}

.card__container img{
    width: 100%;
    height: 150px; /* slightly smaller */
    object-fit: contain;
    margin-bottom: 10px;
}

.button{
    display: none;
    padding: 5px 10px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    background-color: #f0c14b;
    width: 100%;
    margin-top: 10px; /* below price */
    border-radius: 30px;
}

.card__container:hover .button{
    display: block;
}

.button:hover{
    background-color: #ddb347;
}

.rating{
    display: flex;
    align-items: center;
    padding: 5px 0px;
}

.price{
    font-size: 16px;
    font-weight: 700;
    margin: 5px 0;
}

.products__container{
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 items per row */
    gap: 20px;
    max-width: 1200px; /* section width */
    margin: 50px auto; /* center the grid */
    padding: 0 20px; /* space on left & right */
    justify-items: center;
}

.product__flexed{
  box-shadow: none;
 height: 50vh;
  display: flex;
  flex-direction: row;
  gap: 50px;
  width: 100%;
}

.product__flexed h3{
  padding: 20px 0px;
}

.product__flexed .button{
  display: block;
  position: static;
  width: 150px;
  margin-right: 40px;
}

/* .product__flexed {
  display: flex;
  gap: 30px;
  width: 40% !important;
  height: auto !important;
  align-items: flex-start;
  padding: 20px 0;
} */


.product__flexed img{
  width: 200px !important;
  height: auto;
  
}


@media (max-width: 1200px) {
  .products_container {
    grid-template-columns: repeat(4, 1fr);
  }
}


@media (max-width: 992px) {
  .products_container {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media (max-width: 768px) {
  .products__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .product__flexed{
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .products__container {
    grid-template-columns: 1fr;
    padding: 0 15px;
  }

}